<h1><%= @user_name.capitalize %></h1>

<h2><%= @user_info[:email] %></h2>
<br/>

<h3>Interests:</h3>
<p><%= @user_info[:interests].join(", ") %></p>

<hr/>

<h3>Other Users:</h3>
<ul>
  <% @users.keys.each do |name| %>
    <% unless name == @user_name.to_sym %>
      <li><a href="/<%= name %>"><%= name.capitalize %></a></li>
    <% end %>
  <% end %>
</ul>